// compress: true, javascriptEnabled: true
/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
@media (max-width: 1920px) {}

@media (max-width: 1680px) {}

@media (max-width: 1600px) {
    .the-quote:before {
        height: 151px;
        width: 80px;
    }

    .the-promo:after {
        height: 151px;
        width: 80px;
    }

    .the-certificate:before {
        height: 151px;
        width: 80px;
    }

    .home-footer .home-footer-container:after {
        height: 151px;
        width: 80px;
    }
}

@media (max-width: 1440px) {
    .the-quote:before {
        height: 151px;
        width: 80px;
        top: 13%;
    }

    .the-promo:after {
        height: 151px;
        width: 80px;
        z-index: -1;
    }
}

@media (max-width: 1366px) {
    .row-hero .hero-content h1 {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    .row-hero .hero-content h2 {
        font-size: 1.3rem;
        line-height: 2.4rem;
    }

    .row-hero .hero-content .hero-content-text {
        font-size: 1.07rem;
        line-height: 2.2rem;
    }

    .the-promo .promo-container h2 {
        font-size: 2.4rem;
    }

    .the-certificate .certficate-text {
        padding-top: 3rem;
        font-size: 2.5rem;
    }

    .the-reviews .section-title {
        font-size: 2.4rem;
        line-height: 3.5rem;
    }

    .the-reviews .reviews-container .review-slider .review-description {
        padding: 2rem 13rem;
        font-size: 1.3rem;
        line-height: 2.7rem;
    }

    .the-promo .promo-countdown-container {
        padding: 2rem 10rem;
    }

    .row-thanks .hero-content h1 {
        font-size: 2.1rem;
    }

    .row-thanks .hero-content h2 {
        font-size: 1.6rem;
    }
}

@media (max-width: 1280px) {}

@media (max-width: 1170px) {

    .the-header .header-right {
        padding-top: 20px;
    }

    .the-header .header-right .extra-header-text {
        font-size: 0.85rem;
        margin-right: 1rem;
    }

    .the-header .header-right .btn-header {
        font-size: 0.9rem;
    }

    .row-hero .hero-content h1 {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .row-hero .hero-content h2 {
        font-size: 1.1rem;
        line-height: 2.4rem;
        margin: 1.5rem 0;
    }

    .row-hero .hero-content .hero-content-text {
        font-size: 0.87rem;
        line-height: 1.9rem;
    }

    .the-quote .quote-container .section-title {
        font-size: 1.5rem;
    }

    .the-quote .quote-container .section-title:after {
        right: -45%;
    }

    .the-quote .quote-container .section-description {
        font-size: 1rem;
    }

    .the-services .services-item h2 {
        font-size: 1.8rem;
    }

    .the-services .services-item em {
        font-size: 0.9rem;
        letter-spacing: 0;
    }

    .the-promo .promo-container h2 {
        font-size: 2rem;
    }

    .the-certificate .certficate-text {
        font-size: 2.2rem;
    }

    .the-certificate .btn-certificate {
        font-size: 0.9rem;
        margin-top: 4rem;
    }

    .the-reviews .section-title {
        font-size: 2rem;
        line-height: 3rem;
    }

    .home-footer .home-footer-container .home-footer-wrapper {
        font-size: 1.9rem;
    }

    .the-reviews .reviews-container .review-slider .review-description {
        padding: 2rem 13rem;
        font-size: 1rem;
        line-height: 2rem;
    }

    .the-promo .promo-countdown-container {
        padding: 2rem 5rem;
    }
}

@media (max-width: 1024px) {}

@media (max-width: 992px) {}

/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {

    .the-header .header-right {
        flex-flow: column;
        align-items: flex-end;
        padding-top: 5px;
    }

    .the-header .header-right .extra-header-text {
        font-size: 0.85rem;
        margin-right: 0;
        margin-bottom: 5px;
    }

    .the-header .header-right .btn-header {
        padding: 0.5rem 2.1rem;
        padding-top: 0.7rem;
        font-size: .9rem;
    }

    .row-hero {
        min-height: unset;
        padding: 5rem 0;
    }

    .row-hero .hero-content h1 {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    .row-hero .hero-content h2 {
        font-size: 1rem;
        line-height: 2.1rem;
        margin: 1rem 0;
    }

    .row-hero .hero-content .hero-content-text {
        font-size: 0.97rem;
        line-height: 2.2rem;
    }

    .quote-form-content {
        margin-top: 2rem;
        padding: 2rem;
    }

    .the-promo .promo-container h2 {
        font-size: 1.5rem;
    }

    .the-certificate .certficate-text {
        font-size: 1.9rem;
    }

    .the-certificate .btn-certificate {
        font-size: 0.9rem;
        margin-top: 3rem;
        padding: .4rem 2.5rem;
        padding-top: .7rem;
    }

    .the-reviews .section-title {
        font-size: 1.7rem;
        line-height: 2.5rem;
    }

    .home-footer .home-footer-container .home-footer-wrapper {
        font-size: 1.5rem;
    }

    .the-footer .footer-item .widgettitle {
        font-size: 1.5rem;
    }

    .the-footer .footer-item .textwidget a {
        font-size: 1.5rem;
        line-height: 3rem;
    }

    .the-reviews .reviews-container .review-slider .review-description {
        padding: 2rem 4rem;
        font-size: 1rem;
        line-height: 2rem;
    }

    .the-reviews .reviews-container .review-slider .review-description:before {
        top: 25px;
        left: 3%;
    }

    .the-reviews .reviews-container .review-slider .review-description:after {

        bottom: 0px;
        right: 5%;
    }

    .the-promo .promo-countdown-container {
        padding: 2rem 0rem;
    }

    .the-promo .promo-countdown-container .base-timer__label {
        width: 120px;
        height: 120px;
    }

    .the-promo .promo-countdown-container .base-timer {
        height: 120px;
        width: 120px;
    }
}

@media (max-width: 800px) {}

@media (max-width: 768px) {}

/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 600px
-------------------------------------------------------------- */
@media (max-width: 600px) {
    .the-header .header-right .extra-header-text {
        font-size: 0.8rem;
    }

    .row-hero {
        min-height: unset;
        padding: 1rem 0;
    }

    .hero-image img {
        max-width: 70vw;
        display: block;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .hero-content {
        text-align: center;
    }

    .row-hero .hero-content h1 {
        font-size: 1.7rem;
        line-height: 2.5rem;
    }

    .row-hero .hero-content h2 {
        font-size: 1.2rem;
        line-height: 2.4rem;
        margin: 1rem 0;
    }

    .row-hero .hero-content .hero-content-text {
        font-size: 1rem;
        line-height: 2.2rem;
    }

    .the-services {
        padding: 1rem;
    }

    .the-services .services-item h2 {
        text-align: center;
    }

    .the-promo .promo-container {
        padding: 3rem 1rem;
    }

    .the-promo .promo-container h2 {
        font-size: 1.1rem;
    }

    .the-certificate .certficate-text {
        font-size: 2.1rem;
        text-align: center;
    }

    .the-certificate .btn-certificate {
        font-size: 1.3rem;
        margin-top: 4rem;
        padding: 0.4rem 2.5rem;
        padding-top: 0.7rem;
        display: block;
    }

    .the-reviews .section-title {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

    .the-reviews .section-title:before {
        display: none;
    }

    .the-reviews .section-title:after {
        display: none;
    }

    .quote-form-content .quote-form-control h4 {
        font-size: 1.1rem;
    }

    .quote-form-content .quote-form-control h3 {
        font-size: 1rem;
        line-height: 1.8rem;
        margin-top: 1rem;
    }

    .quote-form-content .quote-submit-control .btn-quote {
        min-width: unset;
        width: 100%;
        padding: 0.5rem 0;
        padding-top: 0.7rem;
    }

    .quote-form-content .btn-quote-number {
        padding: 0.5rem 0;
        padding-top: 0.7rem;
        font-size: 1.2rem;
        max-width: 100%;
        display: block;
        margin: 2rem auto;
    }

    .the-promo .promo-countdown-container .base-timer__label {
        width: 100px;
        height: 100px;
        font-size: 35px;
    }

    .the-promo .promo-countdown-container .base-timer {
        position: relative;
        height: 100px;
        width: 100px;
    }

    .row-thanks .hero-content h2 {
        font-size: 1.2rem;
    }

    .row-thanks .hero-content h1 {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
    }

    .btn-back {
        font-size: 1rem;
    }
}

@media (max-width: 533px) {
    .the-header .header-right .extra-header-text {
        font-size: 0.7rem;
    }

    .the-header .header-right .btn-header {
        padding: 0.5rem 1.3rem;
        padding-top: 0.7rem;
        font-size: 0.8rem;
    }

    .home-footer .home-footer-container .home-footer-wrapper {
        font-size: 1.5rem;
        text-align: center;
    }

    .footer-copy {
        padding: 1rem 1rem;
        font-size: 1rem;
    }

    .quote-form-content .quote-submit-control .btn-quote {
        margin: 1rem auto;
    }

    .quote-form-content .quote-form-control h4 {
        font-size: 1rem;
    }

    .quote-form-content {
        margin-top: 1rem;
        padding: 0.5rem;
        padding-bottom: 1.5rem;
    }
}

@media (max-width: 424px) {
    .the-header .header-right .extra-header-text {
        font-size: 0.6rem;
    }

    .the-header .header-right .btn-header {
        padding: 0.3rem 1.3rem;
        padding-top: 0.5rem;
        font-size: 0.6rem;
    }

    .row-hero .hero-content h1 {
        font-size: 1.4rem;
        line-height: 2.2rem;
    }

    .row-hero .hero-content h2 {
        font-size: 1.1rem;
        line-height: 2.1rem;
        margin: 1rem 0;
    }

    .row-hero .hero-content .hero-content-text {
        font-size: 0.9rem;
        line-height: 1.8rem;
    }

    .the-promo .promo-container h2 {
        font-size: 0.9rem;
    }

    .the-certificate .btn-certificate {
        font-size: 1.2rem;
        padding: 0.4rem 0;
        padding-top: 0.7rem;
    }

    .the-certificate .certficate-text {
        font-size: 1.5rem;
        text-align: center;
    }

    .the-certificate .btn-certificate {
        font-size: 1.1rem;
        margin-top: 3rem;
    }

    .home-footer .home-footer-container .home-footer-wrapper {
        font-size: 1.2rem;
        text-align: center;
    }

    .footer-copy {
        padding: 1rem 1rem !important;
        font-size: 0.9rem;
        line-height: 1.8rem;
    }

    .the-promo .promo-countdown-container .base-timer {
        position: relative;
        height: 70px;
        width: 70px;
    }

    .the-promo .promo-countdown-container .base-timer__label {
        width: 70px;
        height: 70px;
        font-size: 25px;
    }

    .the-promo .promo-countdown-container .base-timer h4 {
        font-size: 1.1rem;
    }
}

@media (max-width: 414px) {}

@media (max-width: 375px) {
    .the-header .header-right .extra-header-text {
        font-size: 0.5rem;
    }

    .the-header .header-right .btn-header {
        padding: 0.3rem 1.3rem;
        padding-top: 0.5rem;
        font-size: 0.5rem;
    }
}

@media (max-width: 360px) {}

@media (max-width: 320px) {}

@media (max-width: 240px) {}
