// compress: false, javascriptEnabled: true
/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/_lesshat.less';
/* --------------------------------------------------------------
VARIABLES
-------------------------------------------------------------- */

@mainfont: 'Spartan', sans-serif;
@secondfont: 'Red Hat Display', sans-serif;
@black: #000000;
@white: #ffffff;
@lightblack: #333333;
@lightblue: #0896B9;
@lightgreen: #20B15A;
@softgray: #828282;


/* --------------------------------------------------------------
BODY DEFAULTS
-------------------------------------------------------------- */
html,
body {
    height: 100%;
}

body {
    font-family: @mainfont;
    color: @lightblack;
    font-weight: 400;
}

a {
    .transition(all .2s ease-in-out);

    &:hover {
        text-decoration: none;
    }
}

.page-container {
    min-height: 85vh;
}

@media (min-width: 1440px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1400px;
    }
}

.loader-css {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.loader-css:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid @lightblue;
    border-color: @lightblue transparent @lightblue transparent;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* --------------------------------------------------------------
1.- HEADER
-------------------------------------------------------------- */
.the-header {
    background: @white;
    min-height: 98px;
    padding: 0.5rem 1rem;

    & .header-wrapper {
        background: @white;
        position: fixed;
        padding: 0.5rem 1rem;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 9;
    }

    & .header-right {
        .display(flex);
        align-items: center;
        justify-content: flex-end;
        padding-top: 20px;

        & .extra-header-text {
            color: @lightblue;
            text-transform: uppercase;
            font-size: 1.05rem;
            font-weight: 500;
            margin-right: 1.5rem;
        }

        & .btn-header {
            color: @lightblue;
            border: 1px solid @lightblue;
            text-transform: uppercase;
            font-weight: 800;
            border-radius: 30px;
            padding: 0.5rem 1.5rem;
            padding-top: 0.7rem;
            font-size: 1.1rem;

            &:hover {
                background: @lightblue;
                color: @white;
            }
        }
    }

}


/* --------------------------------------------------------------
2.- FOOTER
-------------------------------------------------------------- */
.the-footer {
    padding: 4rem 1rem;
    padding-bottom: 2rem;
    color: @white;
    background: @lightgreen;

    & .footer-item {
        text-align: center;

        & ul {
            list-style: none;
            padding: 0;
        }

        & .widgettitle {
            font-weight: 600;
        }

        & .textwidget {
            & a {
                color: @white;
                font-weight: 600;
                font-size: 2rem;
                line-height: 4.5rem;
                margin-bottom: 0;
            }
        }

    }
}

.footer-copy {
    padding: 2rem 1rem;
    color: @white;
    background: @lightgreen;
    text-align: center;
}

/* --------------------------------------------------------------
3.- HOME
-------------------------------------------------------------- */
/* HERO SECTION */
.row-hero {
    min-height: 80vh;

    & .hero-content {
        & h1 {
            color: @lightblue;
            font-size: 2.3rem;
            font-weight: 600;

            & strong {
                color: @lightgreen;
                font-weight: 600;
            }
        }

        & h2 {
            color: @lightblack;
            font-size: 1.5rem;
            line-height: 2.3rem;
            margin: 2rem 0;
        }

        & .hero-content-text {
            color: @softgray;
            font-family: @mainfont;
            font-size: 1.17rem;
            line-height: 2.3rem;
            font-weight: 400;
        }
    }
}

/* QUOTE SECTION */
.the-quote {
    position: relative;
    padding: 3rem 1rem;

    &:before {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        background: url(../images/dots.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 182px;
        width: 108px;
        z-index: 0;
    }


    &:after {
        content: ' ';
        background: url(../images/vector02.png);
        background-size: auto 100%;
        position: absolute;
        bottom: -45%;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;
    }

    & .quote-container {
        & .section-title {
            position: relative;
            display: inline-block;
            color: @lightblue;
            font-weight: 600;

            &:after {
                content: '';
                background: @lightgreen;
                position: absolute;
                bottom: 40%;
                right: -35%;
                height: 3px;
                width: 80px;
            }
        }

        & .section-description {
            font-size: 1.2rem;
            font-weight: 500;
            margin-top: 10px;
        }
    }
}


.quote-form-content {
    background: @white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    margin-top: 3rem;
    padding: 4rem;
    z-index: 8;

    & .quote-form-control {
        padding: 1rem;
        padding-bottom: 0rem;

        & h3 {
            font-size: 1.1rem;
            text-align: center;
            margin-top: 2rem;
            font-weight: 600;
        }

        & h4 {
            text-align: center;
            font-size: 1.3rem;
            font-weight: 400;

            & strong {
                color: @lightblue;
            }
        }

        & .form-control {
            height: auto;
            padding: 0.7rem 1rem;
        }

        & .quote-counter-control {
            border: 1px solid @softgray;
            margin: 0 auto;
            display: block;
            max-width: 280px;
            border-radius: 10px;
            padding: 0.3rem 2rem;
            .display(flex);
            align-items: center;
            justify-content: space-between;
            line-height: normal;

            & input {
                border: 0;
                text-align: left;
                max-width: 50%;
                .appearance(textfield);

                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        & .quote-counter-select-control {
            border: 1px solid @softgray;
            margin: 0 auto;
            display: block;
            max-width: 280px;
            border-radius: 10px;

            & .btn-secondary {
                color: @softgray;
                text-align: left;
                background: none transparent;
                width: 100%;
                padding: 1rem 2rem;
                border: 0;

                &:after {
                    background: transparent;
                    background-image: url(../images/caret.png);
                    background-repeat: no-repeat;
                    border: 0;
                    height: 14px;
                    width: 30px;
                    position: absolute;
                    top: 24px;
                    right: 0px;
                }

                &:focus {
                    box-shadow: none;
                }

                & .selected-item {
                    text-transform: capitalize;
                }
            }

            & .dropdown-menu.show {
                width: 100%;
            }

            & .dropdown-item {
                cursor: pointer;
                padding: 0.6rem 0.5rem;
            }
        }

        & .quote-counter-number {
            & input {
                text-align: center;
            }

            & span {
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: 400;

                &::-moz-selection {
                    background: transparent;
                }

                &::selection {
                    background: transparent;
                }

                &:nth-child(1) {
                    color: @softgray;
                }

                &:last-child {
                    color: @lightgreen;
                    padding-top: 5px;
                }
            }
        }


    }

    & .quote-form-special {
        text-align: center;
    }


    & .quote-submit-control {
        text-align: center;

        & .btn-quote {
            color: @lightblue;
            border: 1px solid @lightblue;
            text-transform: uppercase;
            font-weight: 600;
            border-radius: 30px;
            padding: 0.5rem 5rem;
            padding-top: 0.7rem;
            font-size: 1.2rem;
            min-width: 420px;
            display: block;
            margin: 3rem auto;

            &:hover {
                background: @lightblue;
                color: @white;
            }
        }
    }

    & .btn-quote-number {
        color: @lightblue;
        border: 1px solid @lightblue;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 30px;
        padding: 0.5rem 5rem;
        padding-top: 0.7rem;
        font-size: 1.2rem;
        max-width: 420px;
        display: block;
        margin: 3rem auto;

        &:hover {
            background: @lightblue;
            color: @white;
        }
    }
}

/* SERIVCES SECTION */
.the-services {
    padding: 3rem 1rem;

    & .services-item {
        font-size: 1.1rem;
        line-height: 1.6rem;


        & h2 {
            color: @lightblue;
            font-size: 2.4rem;
            margin-bottom: 2rem;
            font-weight: 600;
        }

        & ul {
            list-style: none;
            padding: 0;
            margin: 0;

            & li {
                position: relative;
                font-family: @secondfont;
                font-size: 1.2rem;
                letter-spacing: 0.5px;
                padding-left: 40px;
                padding-bottom: 1.2rem;

                &:before {
                    content: ' ';
                    background: url(../images/dot.png);
                    background-size: cover;
                    position: absolute;
                    top: -2px;
                    left: 0;
                    height: 25px;
                    width: 25px;
                }
            }
        }

        & em {
            font-size: 1rem;
            letter-spacing: 0;
        }
    }
}

/* PROMOTIONS */
.the-promo {
    position: relative;
    padding: 3rem 1rem;

    &:after {
        content: ' ';
        .transform(rotate(180deg));
        position: absolute;
        top: 0;
        right: 0;
        background: url(../images/dots.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 182px;
        width: 108px;
        z-index: 0;
    }

    .promo-container {
        color: @white;
        background: linear-gradient(180deg, #00A7D0 3.04%, #90EAB6 100%);
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
        border-radius: 15px;
        padding: 4rem 3rem;
        padding-bottom: 6rem;
        text-align: center;

        & h2 {
            font-size: 2.8rem;
        }
    }

    & .promo-countdown-container {
        padding: 2rem 15rem;
        .display(flex);
        .align-items(center);
        .justify-content(space-between);

        .base-timer {
            position: relative;
            height: 150px;
            width: 150px;

            & h4 {
                font-family: @secondfont;
                margin-top: 15px;
                font-weight: 400;
                font-size: 1.5rem;
            }
        }

        /* Removes SVG styling that would hide the time label */
        .base-timer__circle {
            fill: none;
            stroke: none;
        }

        /* The SVG path that displays the timer's progress */
        .base-timer__path-elapsed {
            stroke-width: 7px;
            stroke: #9CE4DA;
        }

        .base-timer__label {
            position: absolute;

            /* Size should match the parent container */
            width: 150px;
            height: 150px;

            /* Keep the label aligned to the top */
            top: 4px;

            /* Create a flexible box that centers content vertically and horizontally */
            .display(flex);
            .align-items(center);
            .justify-content(center);

            /* Sort of an arbitrary number; adjust to your liking */
            font-size: 45px;
            font-weight: 600;
        }

        .base-timer__path-remaining {
            /* Just as thick as the original ring */
            stroke-width: 7px;

            /* Rounds the line endings to create a seamless circle */
            stroke-linecap: round;

            /* Makes sure the animation starts at the top of the circle */
            .transform(rotate(90deg));
            .transform-origin(center);

            /* One second aligns with the speed of the countdown timer */
            .transition(all 1s linear);

            /* Allows the ring to change color when the color value updates */
            stroke: white;
        }

        .base-timer__svg {
            /* Flips the svg and makes the animation to move left-to-right */
            .transform(scaleX(-1));
        }
    }

}

.the-gallery {
    padding: 2rem 1rem;

    & .swiper-container {
        width: 100%;
        height: 100%;
        max-height: 370px;

        & .swiper-slide {
            & img {
                width: 100%;
            }
        }
    }


}

.the-certificate {
    position: relative;
    padding: 3rem 1rem;

    &:before {
        content: ' ';
        position: absolute;
        top: 30%;
        left: 0;
        background: url(../images/dots.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 182px;
        width: 108px;
        z-index: 0;
    }

    & .certficate-text {
        padding-top: 4rem;
        font-size: 2.9rem;
        font-weight: 600;
        color: @lightblue;
    }

    & .btn-certificate {
        color: @white;
        background: @lightblue;
        border: 2px solid @lightblue;
        font-size: 1.2rem;
        border-radius: 30px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 0.4rem 4rem;
        padding-top: 0.6rem;
        margin-top: 5rem;

        &:hover {
            background: none transparent;
            color: @lightblue;
        }
    }
}


.the-reviews {
    position: relative;
    padding: 5rem 1rem;

    &:before {
        content: ' ';
        background: url(../images/vector01.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom center;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 120vh;
        z-index: -1;
    }

    & .section-title {
        color: @lightblue;
        position: relative;
        font-size: 3rem;
        text-align: center;
        font-weight: 600;
        line-height: 4rem;

        &:before {
            content: '';
            background: @lightgreen;
            position: absolute;
            top: 30px;
            left: -70px;
            height: 1px;
            width: 80px;
        }

        &:after {
            content: '';
            background: @lightgreen;
            position: absolute;
            top: 30px;
            right: -70px;
            height: 1px;
            width: 80px;
        }
    }

    .reviews-container {
        padding: 3rem 1rem;

        & .review-logo {
            text-align: center;

            .star-logo-container {
                font-size: 1.2rem;
                font-weight: 600;

                & .fa {
                    padding: 0 3px;
                    color: orange;
                }
            }
        }

        & .review-slider {
            padding: 3rem 1rem;
            padding-bottom: 1rem;
            text-align: center;

            & .swiper-button-prev:after {
                content: '';
                background: url(../images/arrow.png);
                background-size: contain;
                height: 28px;
                width: 28px;
            }

            & .swiper-button-next:after {
                .transform(rotate(180deg));
                content: '';
                background: url(../images/arrow.png);
                background-size: contain;
                height: 28px;
                width: 28px;
            }

            & .review-description {
                font-family: @secondfont;
                position: relative;
                padding: 2rem 13rem;
                font-size: 1.5rem;
                line-height: 3.1rem;

                &:before {
                    content: '';
                    background: url(../images/quote.png);
                    background-size: cover;
                    height: 25px;
                    width: 36px;
                    position: absolute;
                    top: 45px;
                    left: 12%;
                }

                &:after {
                    .transform(rotate(180deg));
                    content: '';
                    background: url(../images/quote.png);
                    background-size: cover;
                    height: 25px;
                    width: 36px;
                    position: absolute;
                    bottom: 30px;
                    right: 15%;
                }
            }

            & .review-name {
                & h3 {
                    letter-spacing: -1px;
                    font-weight: 400;
                    font-size: 1rem;
                }

                & .fa {
                    padding: 0 3px;
                    color: orange;
                }
            }
        }

    }
}

.the-logos {
    padding: 3rem 1rem;
}

.home-footer {
    & .home-footer-container {
        position: relative;

        &:after {
            content: ' ';
            position: absolute;
            top: 10%;
            right: 0;
            background: url(../images/dots-white.png);
            background-repeat: no-repeat;
            background-size: cover;
            height: 182px;
            width: 108px;
            z-index: 0;
        }

        & img {
            width: 100%;
        }

        & .home-footer-wrapper {
            color: @white;
            background: linear-gradient(180deg, rgba(0, 167, 208, 0.6) 3.04%, rgba(32, 177, 90, 0.6) 100%);
            box-shadow: inset 0px 0px 40px rgba(0, 0, 0, 0.07);
            .display(flex);
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 2.5rem;
            font-weight: 600;
        }
    }
}


.row-thanks {
    min-height: 500px;

    & .hero-content {
        text-align: center;

        & h1 {
            color: @lightgreen;
            font-size: 3rem;
            margin-bottom: 3rem;
            font-weight: 700;
        }

        & h2 {
            font-size: 2rem;
            color: @lightblue;
        }
    }
}

.gallery-thanks {
    padding: 0;
}


.animation-ctn {
    text-align: center;
    margin: 3rem;
}

@-webkit-keyframes checkmark {
    0% {
        stroke-dashoffset: 100px
    }

    100% {
        stroke-dashoffset: 200px
    }
}

@-ms-keyframes checkmark {
    0% {
        stroke-dashoffset: 100px
    }

    100% {
        stroke-dashoffset: 200px
    }
}

@keyframes checkmark {
    0% {
        stroke-dashoffset: 100px
    }

    100% {
        stroke-dashoffset: 0px
    }
}

@-webkit-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 480px
    }

    100% {
        stroke-dashoffset: 960px;

    }
}

@-ms-keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

@keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 480px
    }

    100% {
        stroke-dashoffset: 960px
    }
}

@keyframes colored-circle {
    0% {
        opacity: 0
    }

    100% {
        opacity: 100
    }
}

.inlinesvg .svg svg {
    display: inline
}

.icon--order-success svg polyline {
    -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
    animation: checkmark 0.25s ease-in-out 0.7s backwards
}

.icon--order-success svg circle {
    -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
    animation: checkmark-circle 0.6s ease-in-out backwards;
}

.icon--order-success svg circle#colored {
    -webkit-animation: colored-circle 0.6s ease-in-out 0.7s backwards;
    animation: colored-circle 0.6s ease-in-out 0.7s backwards;
}

.btn-back {
    margin: 3rem auto;
    color: @white;
    background: @lightblue;
    border: 2px solid @lightblue;
    border-radius: 30px;
    padding: 0.6rem 5rem;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    .transition(all .2s ease-in-out);

    &:hover {
        background: none transparent;
        color: @lightblue;
    }
}
